nexus/n8n-workflows/05-knowledge-base-freshness.json
{
  "name": "05 — Knowledge Base Freshness Check",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 0" }] }
      },
      "id": "cron-trigger",
      "name": "Sunday 9:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "nexus-core run ingest --subcommand status 2>/dev/null"
      },
      "id": "run-status",
      "name": "Get Ingest Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.stdout || '';\ntry {\n  const d = JSON.parse(raw);\n  const STALE_HOURS = 168; // 7 days\n  const stale = d.age_hours != null && d.age_hours > STALE_HOURS;\n  const missing = d.status === 'NO_MANIFEST';\n  return [{ json: { ...d, stale, missing, needs_action: stale || missing } }];\n} catch (e) {\n  return [{ json: { stale: false, missing: true, needs_action: true, error: raw } }];\n}"
      },
      "id": "check-freshness",
      "name": "Check Freshness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "stale-check", "leftValue": "={{ $json.needs_action }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "is-stale",
      "name": "Stale?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ *Knowledge Base Stale*\n\nAge: {{ $json.age_hours ? Math.round($json.age_hours) + 'h' : 'unknown' }} (threshold: 168h)\nChunks: {{ $json.total_chunks || 0 }}\n\nTriggering re-ingest for all domains...",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "alert-stale",
      "name": "Alert Stale",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 200],
      "credentials": { "telegramApi": { "id": "telegram-nexus", "name": "Nexus Telegram Bot" } }
    },
    {
      "parameters": {
        "command": "nexus-core run ingest --subcommand all 2>&1 | tail -5"
      },
      "id": "trigger-ingest",
      "name": "Trigger Re-Ingest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1340, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Re-ingest complete.\n\n```\n{{ $json.stdout.substring(0, 500) }}\n```",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "confirm-ingest",
      "name": "Confirm Ingest Done",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 200],
      "credentials": { "telegramApi": { "id": "telegram-nexus", "name": "Nexus Telegram Bot" } }
    }
  ],
  "connections": {
    "Sunday 9:00 AM": { "main": [[{ "node": "Get Ingest Status", "type": "main", "index": 0 }]] },
    "Get Ingest Status": { "main": [[{ "node": "Check Freshness", "type": "main", "index": 0 }]] },
    "Check Freshness": { "main": [[{ "node": "Stale?", "type": "main", "index": 0 }]] },
    "Stale?": { "main": [[{ "node": "Alert Stale", "type": "main", "index": 0 }], []] },
    "Alert Stale": { "main": [[{ "node": "Trigger Re-Ingest", "type": "main", "index": 0 }]] },
    "Trigger Re-Ingest": { "main": [[{ "node": "Confirm Ingest Done", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "knowledge-base" }, { "name": "ingest" }, { "name": "scheduled" }],
  "_meta": {
    "description": "Sunday 9AM — checks ingest manifest age. If >7 days stale or missing, alerts and auto-triggers full re-ingest.",
    "setup": [
      "Set credential 'Nexus Telegram Bot'",
      "Set variable TELEGRAM_CHAT_ID",
      "Requires DATABASE_URL in environment for ingest runner"
    ]
  }
}
