nexus/n8n-workflows/08-ci-failure-alert.json
{
  "name": "08 — nexus-core CI Failure Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-ci",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Actions Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "github-ci-hook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst event = $input.item.headers?.['x-github-event'] || '';\nconst action = body?.action || '';\nconst conclusion = body?.workflow_run?.conclusion || '';\nconst repo = body?.repository?.full_name || '';\nconst workflow = body?.workflow_run?.name || '';\nconst branch = body?.workflow_run?.head_branch || '';\nconst sha = (body?.workflow_run?.head_sha || '').substring(0, 7);\nconst commitMsg = body?.workflow_run?.head_commit?.message || '';\nconst runUrl = body?.workflow_run?.html_url || '';\n\nconst isFailure = event === 'workflow_run' && action === 'completed' && conclusion === 'failure';\nconst isNexusCore = repo.includes('nexus-core');\n\nreturn [{ json: { isFailure, isNexusCore, repo, workflow, branch, sha, commitMsg: commitMsg.split('\\n')[0], runUrl } }];"
      },
      "id": "parse-event",
      "name": "Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "id": "fail-check", "leftValue": "={{ $json.isFailure && $json.isNexusCore }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ]
        }
      },
      "id": "is-failure",
      "name": "CI Failure?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔴 *CI Failed — nexus-core*\n\nBranch: `{{ $json.branch }}`\nCommit: `{{ $json.sha }}` — {{ $json.commitMsg }}\nWorkflow: {{ $json.workflow }}\n\n[View Run]({{ $json.runUrl }})",
        "additionalFields": { "parse_mode": "Markdown", "disable_web_page_preview": true }
      },
      "id": "alert-ci-fail",
      "name": "Alert CI Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 240],
      "credentials": { "telegramApi": { "id": "telegram-nexus", "name": "Nexus Telegram Bot" } }
    }
  ],
  "connections": {
    "GitHub Actions Webhook": { "main": [[{ "node": "Parse Event", "type": "main", "index": 0 }]] },
    "Parse Event": { "main": [[{ "node": "CI Failure?", "type": "main", "index": 0 }]] },
    "CI Failure?": { "main": [[{ "node": "Alert CI Failure", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ci" }, { "name": "github" }, { "name": "webhook" }],
  "_meta": {
    "description": "GitHub webhook on workflow_run completion. Alerts Telegram on CI failure for nexus-core repo only.",
    "setup": [
      "Set credential 'Nexus Telegram Bot'",
      "Set variable TELEGRAM_CHAT_ID",
      "In nexus-core repo GitHub settings: add webhook → URL = http://<n8n-host>:5678/webhook/github-ci",
      "Events: Workflow runs",
      "Optional: extend repo check to include iOPEX repo workflows"
    ]
  }
}
